@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, in the task manager!</h1>

In this application, you can create, edit, and delete tasks.

Created by YKos.

<SurveyPrompt Title="How is Blazor working for you?" />
